name: ZH
on:
  push:
    branches:
      - master
  # schedule:
      # - cron: 0 */4 * * *

jobs:
  zh:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Get Ip
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        bash ./scripts/ip.sh
    - name: Set Env
      env:
        DEBIAN_FRONTEND: noninteractive
        MC_SK: ${{ secrets.MC_SK }}
      run: |
        sudo bash ./scripts/env.sh "$MC_SK"
    - name: Connect NP
      env:
        DEBIAN_FRONTEND: noninteractive
        NP_SERVER: ${{ secrets.NP_SERVER }}
        NP_SK: ${{ secrets.NP_SK }}
      run: |
        bash ./scripts/np.sh
    - name: Run Serve
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        bash ./scripts/deno.sh
    - name: SSH connection to Actions
      uses: 1orz/ssh-action@master